@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px #ff4500;
    }

    100% {
        box-shadow: 0 0 0 25px#ff440000;
    }
}

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin pulseEffect {
    animation: shadow-pulse 1s inifnite;
}