@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px #ff4500;
            box-shadow: 0 0 0 0px #ff4500;
  }
  100% {
    -webkit-box-shadow: 0 0 0 25px #ff440000;
            box-shadow: 0 0 0 25px #ff440000;
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px #ff4500;
            box-shadow: 0 0 0 0px #ff4500;
  }
  100% {
    -webkit-box-shadow: 0 0 0 25px #ff440000;
            box-shadow: 0 0 0 25px #ff440000;
  }
}

/*AUTOCOMPLETE*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*END AUTOCOMPLETE */
/*STARTING PAGE */
.start-screen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.start-screen img {
  padding-top: 1.3em;
  height: 35vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-screen p,
.start-screen h1,
.start-screen h2,
.start-screen h3,
.start-screen h4,
.start-screen h5,
.start-screen ul,
.start-screen div {
  margin-top: 1.3em;
  text-align: center;
}

.start-screen button {
  background-color: #ff4800;
  border: none;
  color: white;
  margin-top: 1.3em;
  padding: 16px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2em;
  -webkit-animation: shadow-pulse 1.8s infinite;
          animation: shadow-pulse 1.8s infinite;
}

.start-screen button:focus {
  outline: none 0;
}

.start-screen p {
  padding-top: 1.3em;
}

.start-screen a {
  text-decoration: underline;
  color: black;
}

.start-screen a:hover {
  text-decoration: none;
  color: #ff4500;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* END OF STARTING PAGE */
/* IN-GAME PAGE */
#subreddit-sidelist {
  position: fixed;
  top: 0;
  right: 0;
}

#in-game {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

#in-game h4 {
  margin-top: 0px;
  padding-top: 1.3em;
}

#in-game #title {
  padding-top: 1.3em;
}

#in-game #img-content,
#in-game #video-content {
  border: 3px solid #ff4500;
  border-radius: 5px;
  margin-top: 1.3em;
  max-width: 60vmin;
  max-height: 60vmin;
}

#in-game #next-form {
  margin-top: 1.3em;
  font-size: 16px;
}

#in-game #note {
  margin-top: 1.3em;
  font-size: 16px;
}

#in-game #next-text:focus {
  outline: 0;
  border-color: #ff4500;
}

#in-game #next-button {
  background-color: #ff4500;
}

#in-game #next-button:focus {
  outline: none;
}

#in-game #correct-text {
  padding: 0.3em;
  color: white;
  background-color: #00b300;
  border-radius: 3px;
}

#in-game #wrong-text {
  padding: 0.3em;
  color: white;
  background-color: #cc0000;
  border-radius: 3px;
}

#in-game .subreddit {
  padding: 0.3em;
  background-color: #ffb158;
  border-radius: 3px;
}

.default-link {
  color: #34495e;
  text-decoration: underline;
}

.default-link:visited {
  color: #34495e;
  text-decoration: underline;
}

.default-link:hover {
  text-decoration: none;
  color: #ff4500;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.2rem;
}

#footer {
  position: absolute !important;
  width: 100%;
  bottom: 0 !important;
  text-align: center;
  background-color: #dadada;
  font-size: 16px;
}

#footer .footer-link {
  color: #34495e;
  text-decoration: none;
}

#footer .footer-link:visited {
  color: #34495e;
  text-decoration: none;
}

#footer .footer-link:hover {
  text-decoration: none;
  color: #ff4500;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#footer .footer-dot {
  margin-right: 0.9em;
  margin-left: 0.9em;
  color: #ff4500;
}

@media (max-width: 700px) {
  .container {
    width: auto !important;
    max-width: 100vmin;
  }
  #various-info {
    max-width: 90vmin;
  }
  #content-wrap {
    max-width: 100vmin;
  }
  #in-game #img-content,
  #in-game #video-content {
    max-width: 90vmin;
    max-height: 100vmax;
  }
  #footer {
    display: -ms-grid;
    display: grid;
    position: static !important;
    margin-top: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-shadow: 0px -1px 10px rgba(128, 128, 128, 0.75);
            box-shadow: 0px -1px 10px rgba(128, 128, 128, 0.75);
  }
  #footer i {
    display: none;
  }
  #footer span {
    padding: 0.5rem;
    margin: auto;
  }
}

@media (max-width: 400px) {
  #footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */