@import "./variables";
@import "./effects";

/*AUTOCOMPLETE*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*END AUTOCOMPLETE */

/*STARTING PAGE */
.start-screen {
  justify-content: center;
  align-items: center;
  font-size: $standardSize;

  img {
    padding-top: $standardPadding;
    height: 35vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  div {
    margin-top: $standardPadding;
    text-align: center;
  }

  button {
    background-color: rgb(255, 72, 0);
    border: none;
    color: white;
    margin-top: $standardPadding;
    padding: $standardSize;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2em;
    animation: shadow-pulse 1.8s infinite;

    &:focus {
      outline: none 0;
    }
  }

  p {
    padding-top: $standardPadding;
  }

  a {
    text-decoration: underline;
    color: black;

    &:hover {
      text-decoration: none;
      color: $redditOrange;
      @include easeOut();
    }
  }
}

/* END OF STARTING PAGE */

/* IN-GAME PAGE */
#subreddit-sidelist {
  position: fixed;
  top: 0;
  right: 0;
}

#in-game {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: $standardSize;

  h4 {
    margin-top: 0px;
    padding-top: $standardPadding;
  }

  #title {
    padding-top: $standardPadding;
  }

  #img-content,
  #video-content {
    border: 3px solid $redditOrange;
    border-radius: 5px;
    margin-top: $standardPadding;
    max-width: 60vmin;
    max-height: 60vmin;
  }

  #next-form {
    margin-top: $standardPadding;
    font-size: $standardSize;
  }

  #note {
    margin-top: $standardPadding;
    font-size: $standardSize;
  }

  #next-text {
    &:focus {
      outline: 0;
      border-color: $redditOrange;
    }
  }

  #next-button {
    background-color: $redditOrange;

    &:focus {
      outline: none;
    }
  }

  #correct-text {
    padding: 0.3em;
    color: white;
    background-color: #00b300;
    border-radius: 3px;
  }

  #wrong-text {
    padding: 0.3em;
    color: white;
    background-color: #cc0000;
    border-radius: 3px;
  }

  .subreddit {
    padding: 0.3em;
    background-color: #ffb158;
    border-radius: 3px;
  }
}

.default-link {
  color: $defaultTextColor;
  text-decoration: underline;

  &:visited {
    color: $defaultTextColor;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: none;
    color: $redditOrange;
    @include easeOut();
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.2rem;
}

#footer {
  position: absolute !important;
  width: 100%;
  bottom: 0 !important;
  text-align: center;
  background-color: #dadada;
  font-size: $standardSize;

  .footer-link {
    color: $defaultTextColor;
    text-decoration: none;

    &:visited {
      color: $defaultTextColor;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: $redditOrange;
      @include easeOut();
    }
  }

  .footer-dot {
    margin-right: 0.9em;
    margin-left: 0.9em;
    color: $redditOrange;
  }
}

@media (max-width: 700px) {
  .container {
    width: auto !important;
    max-width: 100vmin;
  }

  #various-info {
    max-width: 90vmin;
  }

  #content-wrap {
    max-width: 100vmin;
  }

  #in-game {
    #img-content,
    #video-content {
      max-width: 90vmin;
      max-height: 100vmax;
    }
  }

  #footer {
    display: grid;
    position: static !important;
    margin-top: 2rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px -1px 10px rgba(128, 128, 128, 0.75);

    i {
      display: none;
    }

    span {
      padding: 0.5rem;
      margin: auto;
    }
  }
}

@media (max-width: 400px) {
  #footer {
    grid-template-columns: 1fr;
  }
}

.hidden {
  display: none !important;
}
